.vitlinks {
    background-color:#000000;
    color: black;
    width: 100%;
    height: auto; 
    padding: 2vh 0;
}
.vitlinkbuttons {
    border-radius: 2.5vw; 
    text-decoration: none;
    border: none;
    padding: 1.5vw 3vw;
    background-color: #868484;
    color: white;
    font-size: 2vh;
    transition: all 0.3s ease; 
    cursor: pointer;
}
.vitlinkbuttons:hover {
    transform: scale(1.07);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
    background-color: #6e6c6c;
}
.vitlink {
    padding: 1vw;
    font-size: 2vh;
    color: white;
    transition: all 0.3s ease;
}
.vitlinkbuttons:hover .vitlink {
    color: #ffffff;
    filter: brightness(150%);
    font-weight: 500;
}
.linkbuttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding: 2vw;
    flex-wrap: wrap;
}
.vitportals {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.4vh;
    padding-top: 2vw;
    margin-bottom: 2vh; 
    font-weight: 700;
    color: white;
}
@media (max-width: 768px) {
    .commonbuttons {
        flex-direction: column; 
        gap: 2vh;
    }

    .vitlinkbuttons {
        padding: 2vw 4vw;
        font-size: 1.8vh;
    }

    .vitportals {
        font-size: 2.8vh;
    }

    .linkbuttons {
        gap: 1.5vw; 
        padding: 1.5vw;
    }
    .mainimg{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .mobile_img{
        display: none;
    }
}

@media (max-width: 480px) {
    .vitlinkbuttons {
        border-radius: 2.5vw;
        padding: 3vw 6vw; 
    }

    .vitportals {
        font-size: 2.5vh;
    }
}
.quote-btn {
    background: transparent;
    border: 1.5px solid white;
    color: white;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 25px;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.quote-btn:hover {
    background: white;
    color: black;
}